PORT=5000

DB_HOST=[ADD_DATABASE_HOST_HERE]
DB_PORT=5432
DB_NAME=trekindia
DB_USER=[ADD_DATABASE_USERNAME_HERE]
DB_PASSWORD=[ADD_DATABASE_PASSWORD_HERE]

SESSION_SECRET=[ADD_LONG_RANDOM_SECRET_HERE]

CLIENT_URL=[ADD_FRONTEND_URL_HERE]

NODE_ENV=development
